<script>
  import Rise from '@/libs/Rise'

  export default {
  	mounted() {
      Rise.removeOverride()
      this.removeOverlays()
      this.showSite()
  	},

  	methods: {
      showSite() {
        let site = document.querySelector('.site')
        site.classList.remove('hidden')
      },

      removeOverlays() {
        const editable = document.querySelectorAll('[data-editable="true"]')

        ;[].forEach.call(editable, (parent, i) => {
          const overlay = parent.querySelector('.section-overlay')
          if (overlay !== null) parent.removeChild(overlay)
        })

        return this
      }
    }
  }
</script>
<template>
</template>