<script>
import Vue from 'vue'
import Rise from '@/libs/Rise'
import Navbar from '@/components/Navbar'
import SectionOverlay from '@/components/SectionOverlay'
import Event from '@/utils/Event'

export default {
  components: {
    Navbar,
    SectionOverlay,
  },

  data() {
    return {}
  },

  mounted() {
    Rise.applyOverride()
    this.initSectionOverlay().mountSectionOverlay()
    this.showSite()
  },

  methods: {
    showSite() {
      let site = document.querySelector('.site')
      site.classList.remove('hidden')
    },

    initSectionOverlay() {
      const editable = document.querySelectorAll('[data-editable="true"]')

      ;[].forEach.call(editable, (parent, i) => {
        if (parent.querySelectorAll('.section-overlay').length === 0) {
          const el = document.createElement('div')
          el.setAttribute('class', 'section-overlay-placeholder')
          if (parent.hasChildNodes()) parent.insertBefore(el, parent.lastChild)
        }
      })

      return this
    },

    mountSectionOverlay() {
      const placeholders = document.querySelectorAll('[data-editable="true"] .section-overlay-placeholder')

      if (placeholders.length) {
        ;[].forEach.call(placeholders, (placeholder, i) => {
          new Vue({
            ...SectionOverlay,
            parent: this,
          }).$mount(placeholder)
        })
      }

      return this
    },
  },
}
</script>
<template>
  <div class="dashboard">
    <Navbar></Navbar>
  </div>
</template>
<style lang="scss" scoped>
.dashboard {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 100;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
</style>
