/*
* Buttons
*
*/

.btn {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	border: none;
	transition: all 160ms ease-in;
	-webkit-transition: all 160ms ease-in;
}

/**
 * Sizes
 * 
 */

.btn.btn-small {
	padding: 5px 10px 5px 10px;
}

.btn.btn-mid {
	padding: 6px 12px;
}

.btn.btn-medium {
	padding: 10px 18px 10px 18px;
}

.btn.btn-wide {
	padding: 10px 25px 10px 25px;
}

.btn.btn-alpha {
	color: rgba(0, 0, 0, 0.75);
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.5);
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.btn-alpha:hover {
	color: #fff;
	background-color: #000;
}

.btn-beta {
	color: #878787;
	background-color: #f0f0f0;
	border-radius: 3px;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: lowercase;
	margin: 15px auto 0 auto;
}

.btn-beta:hover {
	color: #fff;
	background-color: #878787;
}