/**
 * Inputs
 * 
 */

.inputs {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.inputs .input:not(:nth-last-child(1)) {
	margin-bottom: 12px;
}

.input {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.input.input-small,
.input.input-small input,
.input.input-small textarea,
.input.input-small select,
.input.input-small .input-preview {
	width: 125px;
}

.input.input-midmid,
.input.input-midmid input,
.input.input-midmid textarea,
.input.input-midmid select,
.input.input-midmid .input-preview {
	width: 175px;
}

.input.input-medium,
.input.input-medium input,
.input.input-medium textarea,
.input.input-medium select,
.input.input-medium .input-preview {
	width: 200px;
}

.input.input-big,
.input.input-big input,
.input.input-big textarea,
.input.input-big select,
.input.input-big .input-preview {
	width: 300px;
}

.input.input-plus,
.input.input-plus input,
.input.input-plus textarea,
.input.input-plus select,
.input.input-plus .input-preview {
	width: 400px;
}

.input.input-monster,
.input.input-monster input,
.input.input-monster textarea,
.input.input-monster select,
.input.input-monster .input-preview {
	width: 500px;
}

.input label {
	padding-bottom: 2px;
	color: #464646;
	font-size: 13px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.input input:not([type=radio]) {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	background-color: transparent;
}

.input input:focus {
	outline: none;
	border-bottom-width: 2px;
	border-bottom-color: rgba(0, 0, 0, 0.9);
}

.input textarea {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.input textarea:focus {
	outline: none;
	border-bottom-width: 2px;
}

.input select {
	font-family: 'Source Sans Pro', sans-serif;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #464646;
	background-color: transparent;
}

.input select:focus {
	outline: none;
	border-bottom-width: 2px;
}

.input .input-preview {
	font-family: 'Source Sans Pro', sans-serif;	
	min-height: 22px;
	margin: 0 0 8px 8px;
}

.input-radio {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.input-radio-title {
	margin: 0 5px;
}

.multi-input {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.multi-input .input {
	margin: 0 20px 20px 0;
}

.input-title {
	font-size: 16px;
	font-weight: 500;
}

.input-description {
	margin: 5px 0;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
}