// ******************************************** //
// Navbar - Início

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0 auto 0 auto;
  background-color: $allports;
  z-index: $zIndex-7--nav;
}

.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0;
  list-style-type: none;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: static;
  height: 100%;
}

.navbar-left {
  margin-left: 15px;
}

.navbar-center {
  position: absolute;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-right {
  margin-right: 15px;
}

.navbar .navbar-logo {
  display: block;
  position: relative;
  width: 62px;
  height: 50px;
}

.navbar .navbar-logo img,
.navbar .navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.navbar .navbar-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $regalBlue;
}

.navbar .navbar-menu {
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0 0 0;
  width: 100%;
  height: auto;
  margin: 0;
  opacity: 0;
  background-color: $allports;
  transform: translateY(60px);
  transition: all 140ms ease-out;
}

.navbar .navbar-menu.active {
  display: flex;
  opacity: 1;
  transform: translateY(100px);
}

.navbar .navbar-menu.active::before {
  transform: translateY(100px);
  background-color: transparent;
}

.navbar-menu ul {
  flex-flow: column nowrap;
}

.navbar-menu li {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-menu li.with-submenu::before {
  content: '';
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

.navbar-menu li.with-submenu.open::before {
  border-top: none;
  border-bottom: 6px solid #fff;
}

.navbar-menu a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 15px 20px;
  width: calc(100% - 40px);
  height: auto;
  color: #fff;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
}

.navbar-menu li:not(:nth-last-child(1))::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}

.navbar-menu .icon {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.navbar-menu .icon svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto
}

.navbar-menu .icon svg * {
  fill: #fff;
}

.navbar-menu .submenu {
  display: none;
  flex-flow: column nowrap;
  padding-left: 25px;
  background-color: rgba(0, 0, 0, 0.15);
}

.navbar-menu .submenu.open {
  display: flex;
}

.navbar-menu .submenu .title {
  text-transform: uppercase;
  font-weight: 700;
}

.navbar .social-icons {
  display: none;
}

.transparent-header .navbar {
  background-color: transparent;
}

.transparent-header .navbar .navbar-menu {
  background-color: transparent;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .navbar .navbar-menu::before {
    height: 30px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .navbar .navbar-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: initial;
    right: initial;
    padding: 0;
    width: auto;
    height: 100%;
    margin-left: 25px;
    opacity: 1;
    transform: none;  }

  .navbar .navbar-menu::before {
    display: none;
  }

  .navbar .navbar-menu.active {
    transform: translateY(0);
  }

  .navbar-menu li {
    display: block;
    position: relative;
    width: auto;
    height: 100%;
  }

  .navbar-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 15px;
    width: auto;
    height: 100%;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid $curiousBlue;
    transition: all 120ms ease-in;
  }

  .navbar-menu li:nth-child(1) a {
    border-left: 1px solid #2E83BA;
  }

  .navbar-menu li:hover .submenu {
    display: block;
  }

  .navbar-menu li:not(:nth-last-child(1))::after {
    display: none;
  }

  .navbar-menu li.with-submenu::before {
    display: none;
  }

  .navbar-menu a:hover {
    background-color: $curiousBlue;
  }

  .navbar-menu .submenu::before {
    content: '';
    display: block;
    position: absolute;
    top: -18px;
    left: 15px;
    width: 0; 
    height: 0;
    border-top: none;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #fff;
  }

  .navbar-menu .submenu {
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    2px 2px 15px 1px rgba(0, 0, 0, 0.25);
    box-shadow:         2px 2px 15px 1px rgba(0, 0, 0, 0.25);
  }

  .navbar-menu .submenu::after {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
  }

  .navbar-menu .submenu.two-columns {
    width: 400px;
  }

  .navbar-menu .submenu.three-columns {
    width: 610px;
  }

  .navbar-menu .submenu ul {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 40px 0 0;
    float: left;
  }

  .navbar-menu .submenu ul:nth-last-child(1) {
    margin: 0;
  }

  .navbar-menu .submenu li {}

  .navbar-menu .submenu a {
    justify-content: flex-start;
    padding: 5px 5px;
    min-width: 165px;
    color: #000;
    font-size: 13px;
    text-transform: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
  }

  .navbar-menu .submenu a:hover {
    background-color: $frenchPass;
  }

  .navbar-menu .submenu li a {
    border-left: 0;
    border-right: 0;
  }

  .navbar-menu .submenu .title {
    margin-bottom: 5px;
    color: #6ac71e;
    border-bottom: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .navbar-menu .submenu .title:hover {
    background-color: transparent;
  }

  .navbar-menu .submenu .separator {
    display: block;
    position: relative;
    width: 100%;
    height: 20px;
  }

  .navbar-menu .submenu .separator::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: -5px;
    width: calc(100% + 10px);
    height: 1px;
  }

  .navbar .social-icons {
    display: flex;
  }

  .transparent-header .navbar-menu a {
    border-right-color: rgba(255, 255, 255, .5);
  }

  .transparent-header .navbar-menu li:nth-child(1) a {
    border-left: 1px solid rgba(255, 255, 255, .5);
  }

  .navbar-menu a:hover {
    background-color: rgba(255, 255, 255, .20);
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .navbar {
    width: 1100px;
  }
}

/* Início - Navigation Search */
.navsearch::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.20);
}

.navsearch {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 20px 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #0069AB;
  z-index: 600;
}

.navsearch form {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.navsearch-input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.navsearch-input::after {
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  bottom: 0;
  width: calc(100% - 20px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.20);
}

.navsearch-input input {
  display: block;
  position: relative;
  padding: 15px 20px 15px 20px;
  width: calc(100% - 40px);
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 300;
  outline: none;
}

.navsearch-input input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 100;
}

.navsearch-input button {
  padding: 0 20px;
  margin: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.navsearch-input button .icon {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
}

.navsearch-input button .icon svg * {
  fill: #fff;
}

.navsearch-input button:hover .icon svg *,
.navsearch-input button:focus .icon svg * {
  stroke-width: 1px;
  stroke: #fff;
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .navsearch {
    padding: 10px 0;
  }

  .navsearch-input input {
    padding: 10px 15px 10px 15px;
    width: calc(100% - 30px);
    font-size: 20px;
  }

  .navsearch-input button .icon {
    width: 25px;
    height: 25px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .navsearch::before {
    left: -3%;
    width: 106%;
  }

  .navsearch form {
    width: 1100px;
  }

  .navsearch-input::after {
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
/* Fim - Navigation Search */

// Navbar - Fim
// ******************************************** //