// ******************************************** //
// Tabs - Início

.tabs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.tabs-controller {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
}

.tabs-controller.tab-fiep {
  background-color: #0B2B42;
}

.tabs-controller.tab-sesi {
  background-color: #10343a;
}

.tabs-controller.tab-senai {
  background-color: #0f4f74;
}

.tabs-controller.tab-iel {
  background-color: #0b404b;
}

.tabs-controller-item {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  border-top: 2px solid transparent;
  transition: all 120ms ease-in;
}

.tabs-controller-item::after {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

.tabs-controller-item svg {
  display: block;
  position: relative;
  padding: 15px;
  height: 28px;
  transition: all 120ms ease-in;
}

.tabs-controller-item svg * {
  fill: #fff;
}

.tabs-controller-item.active {
  border-top-color: #fff;
  border-bottom-color: #004970;
}

.tabs-controller-item.active::after {
  border-bottom: 6px solid #fff;
  border-top-width: 0;
}

.tabs-controller-item.active svg * {
  fill: #fff;
}

.tab-content {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
}

.tab-content-fallback {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #0B2B42;
}

.tabs-controller-item.active .tab-content {
  display: block;
}

.tab-content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 25px 15px;
  width: calc(100% - 30px);
  height: auto;
  margin: 0 auto 0 auto;
}

.tab-content-left,
.tab-content-right {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: relative;
}

.tab-content-left {
  justify-content: flex-start;
  width: 100%;
}

.tab-content-right {
  display: none;
  justify-content: flex-end;
}

.tab-content-text {
  width: 100%;
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.tab-content-picture {
  display: block;
  position: relative;
  width: auto;
  height: 300px;
}

.tab-content .social-icons {
  margin-top: 25px;
  flex-grow: 0;
  width: 250px;
}

.tab-content .social-icon {}

.tab-content .social-icon svg {
  padding: 0;
}

.tab-content .social-icon svg * {
  fill: #ededed;
}

.tab-content .social-icon:hover svg * {
  fill: #fff;
}

.tab-content .btn {
  font-size: 14px;
  margin-top: 20px;
}

.tab-fiep.active,
.tab-fiep.active .tab-content-fallback {
  background-color: #0B2B42;
}

.tab-sesi.active,
.tab-sesi.active .tab-content-fallback {
  background-color: #184854;
}

.tab-senai.active,
.tab-senai.active .tab-content-fallback {
  background-color: #0C6293;
}

.tab-iel.active,
.tab-iel.active .tab-content-fallback {
  background-color: #083346;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .tabs-content-text {
    width: 475px;
    font-size: 16px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .tabs-controller {
    position: static;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 475px;
  }

  .tabs-controller-item {
    justify-content: center;
    align-items: center;
    position: static;
    padding: 0 15px;
    min-width: 175px;
    width: auto;
    height: 60px;
    overflow: hidden;
    border-top: none;
  }

  .tabs-controller-item.active {
    border-top-color: transparent;
  }

  .tabs-controller-item::after {
    display: none;
  }

  .tabs-controller-item > svg {
    padding: 0;
    min-width: 120px;
    width: auto;
    height: 30px;
  }

  .tabs-controller-item svg * {
    fill: rgba(0, 0, 0, 0.4);
  }

  .tabs-controller-item:not(.active) svg:hover * {
    fill: rgba(0, 0, 0, 0.6);
  }

  .tab-content,
  .tab-content-wrapper,
  .tab-content-fallback {
    padding: 0;
    height: 475px;
  }

  .tab-content {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
  }

  .tab-fiep.active,
  .tab-sesi.active,
  .tab-senai.active,
  .tab-iel.active {
    background-color: transparent;
  }

  .tabs-controller-item.tab-fiep .tab-content-fallback,
  .tabs-controller-item.tab-sesi .tab-content-fallback,
  .tabs-controller-item.tab-senai .tab-content-fallback,
  .tabs-controller-item.tab-iel .tab-content-fallback {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .tab-content-wrapper {
    width: 979px;
  }

  .tab-content-left {
    display: flex;
    padding: 0 15px;
    width: calc(50% - 30px);
  }

  .tab-content-right {
    display: flex;
    padding: 0 15px;
    width: calc(50% - 30px);
  }

  .tab-content-text {
    font-size: 15px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .tab-content-wrapper {
    width: 1100px;
  }
}

// Tabs - Fim
// ******************************************** //