<head>
	<!-- Meta Tags -->
	<xsl:call-template name="meta"/>

	{{#block "css"}}
	    {{#if stylesheets}}
	      {{#each stylesheets}}
	      	<link rel="stylesheet" type="text/css" href="{{this}}"/>
	      {{/each}}
	    {{/if}}
		
	    <!-- Fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet"/>
	    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700,700i,900" rel="stylesheet"/>
    {{/block}}

	{{#block "js"}}
		<!-- JS and Imports -->
		<script type="type/javascript" src="{site/url}bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
	{{/block}}

	<!-- Google Tag Manager -->
	<xsl:call-template name="gtm"/>
	<!-- Navegg -->
	<xsl:call-template name="navegg"/>
</head>