{{#block "scripts"}}			
	<!-- Scripts -->
    {{#if scripts}}
      {{#each scripts}}
        <script type="text/javascript" src="{{this}}"></script>
      {{/each}}
    {{/if}}
	<script>
		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		window.onYouTubeIframeAPIReady = function () { document.dispatchEvent(new CustomEvent('YouTubeIframeAPIReady')) }
	</script>
{{/block}}