<template>
  <div class="rise">
    <router-view></router-view>
  </div>
</template>
<script>
  /* ============
   * Entry Point
   * ============
   *
   * The entry point of the application
   */

  import store from './store'
  import { router, i18n } from './bootstrap'
  import decode from 'jwt-decode'
  import { netFindUser } from './services/users'

  export default {
    /**
     * The Vuex store
     */
    store,

    /**
     * The router
     */
    router,

    /**
     * The localization plugin
     */
    i18n,

    /**
     * Fires when the app has been mounted
     */
    mounted() {
      // If the user is authenticated,
      // fetch the data from the API
      if (this.$store.state.auth.authenticated) {
        let token = decode(localStorage.getItem('token'))
        netFindUser({ id: token.id })
      }
    },
  }
</script>
