/**
 * R13
 *
 * Author: Carlos Eduardo (carlosedba@outlook.com)
 * Notes: Default styles
 */

/**
 * ********************************************
 *
 * MOBILE / SMALL SCREEN (0px - 480px)
 *
 * ********************************************
 */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #f0f0f0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


/**
 * ************
 * Componente:
 *  Scrollbar
 * ********************
 */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}


/**
 * ************
 * Componente:
 *  Header
 * ********************
 */

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
}


/**
 * ************
 * Componente:
 *  Navbar
 * ********************
 */

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 75px;
  background-color: transparent;
}

.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  height: 100%;
}

.navbar-left {
  margin-left: 15px;
}

.navbar-center {
  position: absolute;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-right {
  margin-right: 15px;
}

@media only screen and (min-width: 370px) {}

@media only screen and (min-width: 420px) {}

@media only screen and (min-width: 520px) {}

@media only screen and (min-width: 767px) {}

@media only screen and (min-width: 979px) {
  .navbar {
    width: 979px;
    margin: 0 auto 0 auto;
  }

  .navbar-center {
    padding: 0 65px 0 0;
    width: calc(100% - 65px);
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1199px) {
  .navbar {
    width: 1100px;
    margin: 0 auto 0 auto;
  }

  .navbar-center {
    padding: 0;
    width: 100%;
    justify-content: center;
  }
}


/**
 * ************
 * Componente:
 *  Navbar Logo
 * ********************
 */

.navbar-logo {
  display: block;
  position: relative;
  width: auto;
  height: 40px;
}

.navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}


/**
 * ************
 * Componente:
 *  Navbar Menu
 * ********************
 */

.navbar .navbar-menu {
  display: none;
}

.navbar-menu li {
  display: block;
  position: relative;
}

.navbar-menu a::before {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -8px;
    height: 2px;
    background-color: #C03443;
    transition: all 0.16s ease-in-out;
    -webkit-transition: all 0.16s ease-in-out;
    z-index: 1;
}

.navbar-menu a:hover::before {
    right: 25%;
    left: 25%;
}

.navbar-menu a {
  cursor: pointer;
  position: relative;
  padding: 2px 6px;
  color: #464646;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-decoration: none;
  text-transform: lowercase;
  transition: all 0.16s ease;
}

.navbar-menu a:hover {
  color: #C03443;
  font-weight: 500;
}

/*
.navbar-menu a::after {
  content: attr(title);
  display: block;
  padding: 0 5px;
  height: 1px;
  font-weight: 500;
  overflow: hidden;
  visibility: hidden;
  margin-bottom: -1px;
  background-color: rgba(0, 0, 0, 0.5);
}
*/

.navbar-menu .submenu {
  display: none;
  flex-flow: column nowrap;
  position: absolute;
  top: 22px;
  left: -25px;
  padding: 22px 0 0 0;
  width: 210px;
  height: auto;
  z-index: 1;
  background-color: #fff;
  transition: all 0.16s ease;
}

.navbar-menu li:hover .submenu {
  display: flex;
}

.navbar-menu .submenu li {
  width: 100%;
  text-align: center;
}

.navbar-menu .submenu a::before {
  display: none;
}

.navbar-menu .submenu a {
  display: block;
  padding: 10px 0;
  width: 100%;
  height: auto;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  transition: all 0.16s ease-in;
}

/*
.navbar-menu .submenu a:hover {
  color: #fff;
  background-color: #00f1d7;
}
*/

.navbar-menu .submenu a:hover {
  color: #00a3a1;
  border-bottom-color: #00a3a1;
}

.navbar-menu.navbar-menu-active {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 999;
}

.navbar-menu.navbar-menu-active li {
  display: block;
  margin: 10px 0;
}

.navbar-menu.navbar-menu-active a {
  color: #fff;
  font-size: 24px;
}

.navbar-menu.navbar-menu-active .submenu {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  background-color: transparent;
}

.navbar-menu.navbar-menu-active .submenu li {
  margin: 5px 0;
}

.navbar-menu.navbar-menu-active .submenu a {
  padding: 5px;
  font-size: 14px;
}

.navbar-menu.navbar-menu-active .submenu a:hover {
  color: #fff;
  border-bottom-color: #00f1d7;
}

@media only screen and (min-width: 370px) {}

@media only screen and (min-width: 420px) {}

@media only screen and (min-width: 520px) {}

@media only screen and (min-width: 767px) {}

@media only screen and (min-width: 979px) {
  .navbar .navbar-menu {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 1199px) {}


/**
 * ************
 * Componente:
 *  Navbar Search
 * ********************
 */

.navbar-search {
  display: none;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.navbar-search button {
  background-color: transparent;
  border: none;
  outline: none;
}

.navbar-search input {
  display: block;
  position: relative;
  padding: 0 10px;
  width: calc(150px - 20px);
  height: 22px;
  background-color: #F0F0F0;
  border: none;
  border-radius: 15px;
  outline: none;
  border: 2px solid #F0F0F0;
  color: #464646;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  transition: all 0.16s ease-in-out;
  -webkit-transition: all 0.16s ease-in-out;
}

.navbar-search input:focus {
  border: 2px solid #DDDDDD;
}

.navbar-search-icon {
  display: block;
  position: relative;
  width: auto;
  height: 25px;
}

.navbar-search-icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

@media only screen and (min-width: 370px) {}

@media only screen and (min-width: 420px) {}

@media only screen and (min-width: 520px) {}

@media only screen and (min-width: 767px) {}

@media only screen and (min-width: 979px) {
  .navbar-search {
    display: flex;
  }

  .navbar-search input {
    display: none;
  }
}

@media only screen and (min-width: 1199px) {
  .navbar-search input {
    display: flex;
  }
}


/**
 * ************
 * Componente:
 *  Hamburger
 * ********************
 */

.hamburger {
  top: 5px;
  right: 10px;
  position: fixed;
  margin-top: 7px;
  z-index: 999;
}

.hamburger.is-active {
}

.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner::before {
  background-color: #fff;
}

@media only screen and (min-width: 370px) {}

@media only screen and (min-width: 420px) {}

@media only screen and (min-width: 520px) {}

@media only screen and (min-width: 767px) {}

@media only screen and (min-width: 979px) {
  .hamburger {
    display: none;
  }
}

@media only screen and (min-width: 1199px) {}


/**
 * ************
 * Componente:
 *  Header Wrapper
 * ********************
 */

.header-wrapper {
  display: block;
  position: relative;
  width: auto;
  margin: 0 auto 0 auto;
}


/**
 * ************
 * Componente:
 *  Hero
 * ********************
 */

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(100vh - 75px);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 50px;
  width: calc(100% - 100px);
  height: 100%;
}


/**
 * ************
 * Componente:
 *  Section
 * ********************
 */

.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: static;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.section.center {
  align-items: center;
}

 .section-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1200px;
  height: auto;
  padding: 50px 20px;
}

  .section-wrapper.small-pad {
    padding: 25px 10px;
  }

  .section-wrapper.no-pad {
    padding: 0;
  }

    .section-wrapper.no-pad.tb {
      padding: 50px 20px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .section-wrapper.no-pad.lr {
      padding: 50px 20px;
      padding-left: 0;
      padding-right: 0;
    }

  .section-wrapper.no-pad-bottom {
    padding-bottom: 0;
  }

  .section-wrapper.full-width {
    max-width: none;
    width: 100%;
  }

.section-wrapper .section-titles {
  margin: 0 auto;
  margin-bottom: 50px;
}

.section-wrapper.small-pad .section-titles {
  margin: 0 auto;
  margin-bottom: 25px;
}

.section-wrapper.no-pad.tb .section-titles {
  margin: 0 auto;
  margin-bottom: 25px;
}

.section-title {
  margin: 0;
  color: #464646;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  color: #646464;
  font-size: 21px;
  text-align: center;
}

.section-text {
  margin: 0 auto;
  margin-bottom: 26px;
  color: #464646;
  font-size: 15px;
  text-align: center;
}

  .section-text:last-child {
    margin-bottom: 0px;
  }

  .section-text p:last-child {
    margin-bottom: 0px;
  }

@media only screen and (min-width: 370px) {}

@media only screen and (min-width: 420px) {}

@media only screen and (min-width: 520px) {}

@media only screen and (min-width: 767px) {
  .section-wrapper {
    width: 748px;
    padding: 100px 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-wrapper.small-pad {
    padding: 50px 20px;
  }

  .section-wrapper .section-titles {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .section-wrapper.small-pad .section-titles {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .section-wrapper.no-pad.tb .section-titles {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .section-titles {
    width: 560px;
  }

  .section-title {
    font-size: 36px;
  }

  .section-subtitle {
    font-size: 32px;
  }

  .section-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 979px) {
  .section-wrapper {
    width: 980px;
  }

  .section-titles {
    width: 800px;
  }

  .section-text {
    width: 590px;
  }
}

@media only screen and (min-width: 1199px) {}


/**
 * ************
 * Componente:
 *  Subsection
 * ********************
 */

.subsection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 20px 20px 0 20px;
  width: auto;
  height: auto;
}

.subsection-titles {
  margin: 0 auto;
  margin-bottom: 20px;
}

.subsection-title {
  color: #464646;
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

.subsection-subtitle {
  margin: 0;
  color: #646464;
  font-size: 22px;
  text-align: center;
}

.subsection-text {
  margin: 0 auto;
  margin-bottom: 26px;
  color: #464646;
  font-size: 16px;
  text-align: center;
}

  .subsection-text:last-child {
    margin-bottom: 0px;
  }

  .subsection-text p:last-child {
    margin-bottom: 0px;
  }

@media only screen and (min-width: 370px) {}

@media only screen and (min-width: 420px) {}

@media only screen and (min-width: 520px) {}

@media only screen and (min-width: 767px) {
  .subsection-title {
    font-size: 34px;
  }

  .subsection-subtitle {
    font-size: 31px;
  }

  .subsection-text {
    font-size: 18px;
  }
}

@media only screen and (min-width: 979px) {
  .subsection {
    width: 680px;
  }
}

@media only screen and (min-width: 1199px) {}


/**
 * ************
 * Componente:
 *  Carousel
 * ********************
 */

.carousel {
  display: block;
  position: relative;
  padding-bottom: 25px;
  width: 275px;
  height: auto;
  margin: 0;
}

@media only screen and (min-width: 370px) {
  .carousel {
    width: 350px;
  }
}

@media only screen and (min-width: 420px) {}

@media only screen and (min-width: 520px) {}

@media only screen and (min-width: 767px) {
  .carousel {
    width: 650px;
  }
}

@media only screen and (min-width: 979px) {
  .carousel {
    width: 900px;
  }
}

@media only screen and (min-width: 1199px) {
  .carousel {
    width: 1200px;
  }
}

.flickity-page-dots { bottom: 0; }


/**
 * ************
 * Componente:
 *  Services
 * ********************
 */

.servicescomponent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 250px;
  height: auto;
  min-height: 375px;
  margin: 0 50px 0 0;
}

.servicescomponent:nth-last-child(1) {
  margin-right: 0;
}

.servicescomponent-picture {
  display: block;
  position: relative;
  width: calc(100% - 50px);
  height: auto;
  margin: 0 auto 0 auto;
}

.servicescomponent-picture img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.servicescomponent-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 15px 0;
  width: 100%;
  height: auto;
}

.servicescomponent .servicescomponent-title {
  color: #CD2F44;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.servicescomponent .servicescomponent-description {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}


/**
 * ************
 * Componente:
 *  Portfolio
 * ********************
 */

.portfoliocomponent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 300px;
  height: auto;
  margin: 0 25px 0 0;
}

.portfoliocomponent:nth-last-child(1) {
  margin-bottom: 0;
}

.portfoliocomponent-picture {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

.portfoliocomponent-picture img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.portfoliocomponent-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 15px 0;
  width: 100%;
  height: auto;
}

.portfoliocomponent .portfoliocomponent-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.portfoliocomponent .portfoliocomponent-description {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 370px) {
  .portfoliocomponent {
    width: 300px;
  }
}

@media only screen and (min-width: 420px) {
  .portfoliocomponent {
    width: 350px;
  }
}

@media only screen and (min-width: 520px) {}

@media only screen and (min-width: 767px) {}

@media only screen and (min-width: 979px) {}

@media only screen and (min-width: 1199px) {}


/**
 * ************
 * Componente:
 *  Clients
 * ********************
 */

.clientscomponent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 325px;
  height: auto;
  margin: 0 25px 0 0;
}

.clientscomponent:nth-last-child(1) {
  margin-bottom: 0;
}

.clientscomponent-picture {
  display: block;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-color: #000;
  margin: 0 auto 0 auto;
}

.clientscomponent-picture img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.clientscomponent-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 15px 0;
  width: 100%;
  height: auto;
}

.clientscomponent .clientscomponent-title {
  padding: 0;
  margin: 5px 0;
  color: #CD2F44;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.clientscomponent .clientscomponent-description {
  padding: 0;
  margin: 5px 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 370px) {
  .clientscomponent {
    width: 300px;
  }
}

@media only screen and (min-width: 420px) {
  .clientscomponent {
    width: 350px;
  }
}

@media only screen and (min-width: 520px) {}

@media only screen and (min-width: 767px) {}

@media only screen and (min-width: 979px) {}

@media only screen and (min-width: 1199px) {}



/**
 * ************
 * Página:
 *  Fale Conosco
 * ********************
 */

 .fale-conosco {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 0 40px 0;
  width: 275px;
  height: auto;
  padding-bottom: 35px;
}

.fale-conosco form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

.fale-conosco .inputs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto 35px auto;
  background-color: #fff;
}

.fale-conosco .input {
  width: 100%;
  margin-bottom: 10px;
}

.fale-conosco .input input {
  width: 100%;
}

.fale-conosco .input textarea {
  width: 100%;
  height: 100px;
}

.fale-conosco .btn {
  font-size: 16px;
}

@media only screen and (min-width: 370px) {}

@media only screen and (min-width: 420px) {
  .fale-conosco {
    width: 350px;
  }
}

@media only screen and (min-width: 520px) {}

@media only screen and (min-width: 767px) {
  .fale-conosco {
    width: 550px;
  }

  .fale-conosco .inputs {
    padding: 15px;
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    2px 2px 10px 1px rgba(0, 0, 0, 0.15);
    box-shadow:         2px 2px 10px 1px rgba(0, 0, 0, 0.15);
  }
}

@media only screen and (min-width: 979px) {}

@media only screen and (min-width: 1199px) {}


/**
 * ************
 * Componente:
 *  Google Map
 * ********************
 */

.google-map-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
}

.google-map-overlay.clicked {
  pointer-events: none;
}

.google-map {
  display: block;
  position: relative;
  width: 100%;
  height: 400px;
}

.google-map iframe {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}


/**
 * ************
 * Componente:
 *  Footer
 * ********************
 */

 .footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.footer-top,
.footer-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 25px 0;
  width: 100%;
}

.footer-top {
  background-color: #00f1d7;
}

.footer-bottom {
  align-items: center;
  background-color: #00a3a1;
}

.footer-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 25px;
  width: calc(100% - 50px);
}

.footer-content-left,
.footer-content-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.footer-content-left::before {
  content: '';
  display: block;
  position: absolute;
  left: 25px;
  bottom: -25px;
  width: calc(100% - 50px);
  height: 1px;
  background-color: #00a3a1;
}

.footer-content-right {
  margin-top: 50px;
}

.footer-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 20px 0 0 0;
}

.footer-text-concat {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  text-align: center;
  max-width: 200px;
  margin-bottom: 10px;
}

.footer-content-title {
  padding: 0;
  max-width: 275px;
  margin: 0;
  color: #387279;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.footer-content-description {
  padding: 0;
  max-width: 275px;
  margin: 20px 0 0 0;
  color: #43878f;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.footer-content-text {
  padding: 0;
  max-width: 275px;
  margin: 0;
  color: #43878f;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

span.footer-content-text-white,
p.footer-content-text-white,
.footer-content-text-white span,
.footer-content-text-white p {
  color: #fff;
}

.footer-content-text-bold {
  font-weight: 700;
}

.footer-logo {
  display: block;
  position: relative;
  width: 125px;
  height: auto;
}

.footer-bottom .footer-content {
  align-items: center;
}

.footer-bottom .footer-content-left,
.footer-bottom .footer-content-right {
  width: auto;
}


/**
 * ********************************************
 *
 * IPHONE 6 (>370px)
 *
 * ********************************************
 */
@media only screen and (min-width: 370px) {}


/**
 * ********************************************
 *
 * ANDROID 1080p (>420px)
 *
 * ********************************************
 */
@media only screen and (min-width: 420px) {}


/**
 * ********************************************
 *
 * SMARTPHONE (>520px)
 *
 * ********************************************
 */
@media only screen and (min-width: 520px) {}


/**
 * ********************************************
 *
 * TABLET (>767px)
 *
 * ********************************************
 */
@media only screen and (min-width: 767px) {
  /**
   * ************
   * Componente:
   *  Services
   * ********************
  
  .carousel.services {
    flex-flow: row wrap;
    justify-content: center;
    max-width: 600px;
  }

  .servicescomponent {
    width: 225px;
    margin: 0 75px 50px 0;
  }

  .servicescomponent:nth-child(even) {
    margin-right: 0;
  }*/

  /**
   * ************
   * Componente:
   *  Portfolio
   * ********************
   

  .carousel.portfolio {
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .portfoliocomponent {
    width: 300px;
    margin: 0 50px 25px 0;
  }

  .portfoliocomponent:nth-child(even) {
    margin-right: 0;
  }*/

  /**
   * ************
   * Componente:
   *  Clientes/Parceiros
   * ********************
   

  .carousel.clients {
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .clientscomponent {
    width: 300px;
    margin: 0 50px 25px 0;
  }

  .clientscomponent:nth-child(even) {
    margin-right: 0;
  }*/
} 


/**
 * ********************************************
 *
 * DEFAULT (>979px)
 *
 * ********************************************
 */
@media only screen and (min-width: 979px) {
   /**
   * ************
   * Componente:
   *  Footer
   * ********************
   */

  .footer-content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 979px;
  }

  .footer-content-left {
    align-items: flex-start;
    margin-right: 45px;
  }

  .footer-content-right {
    align-items: flex-end;
    margin-top: 0;
  }

  .footer-content-left::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    right: -25px;
    bottom: auto;
    width: 2px;
    height: 100%;
    background-color: #00a3a1;
  }

  .footer-top .footer-content-left,
  .footer-top .footer-content-right {
    width: 465px;
  }

  .footer-top .footer-content-right {
    align-items: flex-start;
  }

  .footer-bottom .footer-content {
    align-items: center;
  }

  .footer-bottom .footer-content-left,
  .footer-bottom .footer-content-right {
    width: auto;
  }

  .footer-content-wrapper {
    align-items: flex-start;
    margin: 10px 0 0 0;
  }

  .footer-text-concat {
    display: inline-block;
    max-width: none;
    margin: 0;
    line-height: initial;
  }

  .footer-content-title {
    max-width: none;
    text-align: left;
  }

  .footer-content-description {
    max-width: none;
    margin-top: 10px;
    text-align: left;
  }

  .footer-content-text {
    max-width: none;
    margin: 0;
    font-size: 14px;
    text-align: left;
  }
}


/**
 * ********************************************
 *
 * LARGE SCREEN (>1199px)
 *
 * ********************************************
 */
@media only screen and (min-width: 1199px) {
  /**
   * ************
   * Componente:
   *  Services
   * ********************
   

  .carousel.services {
    max-width: 1100px;
  }

  .servicescomponent {
    margin: 0 25px 0 0;
  }

  .servicescomponent:nth-child(even) {
    margin: 0 25px 0 0;
  }

  .servicescomponent:nth-last-child(1) {
    margin-right: 0;
  }*/

  /**
   * ************
   * Componente:
   *  Portfolio
   * ********************
   

  .portfoliocomponent {
    width: 225px;
    margin: 0 25px 0 0;
  }

  .portfoliocomponent:nth-child(even) {
    margin: 0 25px 0 0;
  }

  .portfoliocomponent:nth-last-child(1) {
    margin-right: 0;
  }*/

  /**
   * ************
   * Componente:
   *  Clientes/Parceiros
   * ********************
   

  .clientscomponent {
    width: 225px;
    margin: 0 25px 0 0;
  }

  .clientscomponent:nth-child(even) {
    margin: 0 25px 0 0;
  }

  .clientscomponent:nth-last-child(1) {
    margin-right: 0;
  }*/


  /**
   * ************
   * Componente:
   *  Footer
   * ********************
   */

  .footer-top::before {
    content: '';
    display: block;
    position: absolute;
    top: 15%;
    left: 0;
    width: 50px;
    height: 70%;
    background-image: url('../img/barras_sistema_bold.png');
    background-size: 100% 100%;
  }

  .footer-content {
    padding: 0 25px;
    width: 1100px;
  }

  .footer-content-left::before {
    right: -50px;
    width: 3px;
  }

  .footer-top .footer-content-left,
  .footer-top .footer-content-right {
    width: 500px;
  }
}


/**
 * ********************************************
 * Helper Classes
 * ********************************************
 */

/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
