<script>
import { findComponent } from '@/services/components'
import { netFindContents, netCreateContent, netRemoveContent } from '@/services/content'
import { mapState } from 'vuex'
import draggable from 'vuedraggable'
import shortid from 'shortid'
import Modal from './Modal'

let Rise, modalController

export default {
  name: 'ModalNewCarouselItem',

  components: {
    draggable,
    Modal,
  },

  props: {
    id: {
      type: String,
      required: true,
    },
  },

  data () {
    return {
      content: {
        title: null,
        description: null,
        picture: null,
      },

      picture_placeholder: require('@/assets/resources/img/picture_placeholder.png'),

      move: require('@/assets/resources/img/ic_move.svg'),
    }
  },

  created() {},

  mounted() {
    Rise = this.$rise()
    modalController = Rise.modalController()
  },

  methods: {
    open() {
      this.$refs.modal.open()
    },

    close() {
      this.$refs.modal.close()
    },

    bounce() {
      this.$refs.modal.bounce()
    },

    opened() {},

    closed() {},

    resetForm() {
      let form = this.$refs.modal.$el.querySelector('form')
      let picturePreview = this.$refs.modal.$el.querySelector('.picture-preview')
      picturePreview.style.backgroundImage = `url(${this.picture_placeholder})`
      form.reset()
    },

    handleOrderChange(event) {}, 

    handlePictureChange(event) {
      let picturePreview = event.target.parentNode.querySelector('.picture-preview')
      let file = event.target.files[0]
      let type = /^image\//

      if (type.test(file.type)) {
        this.content.picture = file

        let fileReader = new FileReader()
        fileReader.onload = () => {
          picturePreview.style.backgroundImage = `url("${fileReader.result}")`
        }
        fileReader.readAsDataURL(file)
      }
    },

    handleSubmit(content) {
      let formData = new FormData()

      formData.append('id_component', this.id)
      formData.append('title', content.title)
      formData.append('description', content.description)
      formData.append('picture', content.picture)
      formData.append('status', 'visible')

      netCreateContent({ data: formData }).then(() => {
        netFindContents({ id_component: this.id })
        this.close()
        this.resetForm()
      })
      .catch((err) => {
        console.log(err)
      })
    },
  },
}
</script>
<template>
  <modal ref="modal" @open="opened" @close="closed" data-component="modal" :data-id="id" :data-name="$options.name" data-layer="2">
    <div class="modal" :id="id">
      <div class="header">
        <div class="header-left">
          <div class="modal-title">
            <span class="name">Novo item</span>
            <p class="description hidden"></p>
          </div>
        </div>
        <div class="header-center"></div>
        <div class="header-right"></div>
      </div>
      <div class="content">
        <form @submit.prevent="handleSubmit(content)">
          <div class="inputs">
            <div class="left">
              <div class="input input-picture">
                <label>Imagem:</label>
                <div class="picture-preview"></div>
                <input type="file" accept="image/*" aria-label="Imagens" @change="handlePictureChange">
              </div>
            </div>
            <div class="right">
              <div class="input">
                <label>Título:</label>
                <textarea v-model="content.title" data-attribute="title"></textarea>
              </div>
              <div class="input">
                <label>Descrição:</label>
                <textarea v-model="content.description" data-attribute="description"></textarea>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-beta">Salvar</button>
        </form>
      </div>
    </div>
  </modal>
</template>
<style lang="scss">
.new-item > .icon > svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.item > .action > svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.item > .actions > .action > svg * {
  fill: rgba(0,0,0,0.6);
}

.item > .actions > .action:hover > svg * {
  fill: rgba(0,0,0,0.85);
}
</style>
<style lang="scss" scoped>
.rise,
.rise-hooks {
   form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .inputs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    .left {}
    .right {
      margin-top: 20px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  [data-attribute="title"] {
    height: 34px;
  }

  [data-attribute="description"] {
    height: 55px;
  }

  .input input,
  .input textarea {
    width: 240px;
    line-height: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
  }

  .input-picture input {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  }

  .input-picture .picture-preview {
    display: block;
    position: relative;
    width: 200px;
    height: 150px;
    background-image: url('../assets/resources/img/picture_placeholder.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .btn {
    margin-top: 10px;
    margin-right: 10px;
  }
}
</style>
