<script>
import { findComponent } from '@/services/components'
import { netFindContents, netUpdateContent, netRemoveContent, updateContentOrder } from '@/services/content'
import { mapState } from 'vuex'
import draggable from 'vuedraggable'
import Modal from './Modal'
import ModalNewCarouselItem from './ModalNewCarouselItem'
import ModalEditCarouselItem from './ModalEditCarouselItem'

let Rise, modalController

export default {
  name: 'ModalCarousel',

  components: {
    draggable,
    Modal,
  },

  props: {
    id: {
      type: String,
      required: true,
    },
  },

  data () {
    return {
      ic_add2_black: require('@/assets/resources/img/ic_add2_black.svg'),
      ic_add2_white: require('@/assets/resources/img/ic_add2_white.svg'),

      ic_pencil3_black: require('@/assets/resources/img/ic_pencil3_black.svg'),
      ic_pencil3_white: require('@/assets/resources/img/ic_pencil3_white.svg'),

      ic_trash5_black: require('@/assets/resources/img/ic_trash5_black.svg'),
      ic_trash5_white: require('@/assets/resources/img/ic_trash5_white.svg'),

      move: require('@/assets/resources/img/ic_move.svg'),

      wow: [
      ]
    }
  },
  
  computed: {
    component() { return this.$store.state.components.current.data },
    content: {
      get() {
        return this.$store.state.content.list.data
      },
      set(value) {
        updateContentOrder({ data: value })
          .then(() => {
            this.$store.state.content.list.data.forEach((el, i) => {
              netUpdateContent({ id: el.id, params: el })
            })
          })
      }
    },
  },

  /*
  computed: mapState({
    component: state => state.components.current.data,
  }),
  */
  
  created() {},

  mounted() {
    Rise = this.$rise()
    modalController = Rise.modalController()
  },

  methods: {
    open() {
      this.$refs.modal.open()
    },

    close() {
      this.$refs.modal.close()
    },

    bounce() {
      this.$refs.modal.bounce()
    },

    opened() {
      this.fetch()
    },

    closed() {},

    fetch() {
      this._findComponent()
      this._findContents()/*.then((state) => {
        this.wow = state.content.list.data
        console.log(state.content.list.data)
      })*/
    },

    _findComponent() {
      return findComponent({ id: this.id })
    },

    _findContents() {
      return netFindContents({ id_component: this.id, orderBy: 'order' })
    },

    handleOrderChange(event) {
/*
      console.log('this.wow[event.newIndex]', event.newIndex, this.wow[event.newIndex].title, this.wow[event.newIndex].order)
      console.log('this.wow[event.oldIndex]', event.oldIndex, this.wow[event.oldIndex].title, this.wow[event.oldIndex].order)

      this.wow.forEach((el, i) => {
        el.order = i + 1
      })

      this.wow.forEach((el, i) => { console.log(el.title, el.order) })
      */

/*
      this.wow[event.newIndex].order = this.wow[event.oldIndex].order
      this.wow[event.oldIndex].order = event.newIndex + 1

      this.wow.forEach((el, i) => {
        if (el.order < this.wow[event.newIndex].order) {
          console.log('< ', el)
          el.order = parseInt(el.order) - 1
        }
      })

      this.wow.forEach((el, i) => { console.log(el.title, el.order) })
      */

      /*
      let draggedContext = event.draggedContext
      let relatedContext = event.relatedContext

      this.wow[draggedContext.futureIndex].order = this.wow[draggedContext.index].order
      this.wow[draggedContext.index].order = draggedContext.futureIndex + 1

      this.wow.forEach((el, i) => {
        if (el.order < this.wow[draggedContext.index].order) {
          console.log('< ', el)
          el.order = parseInt(el.order) - 1
        }
      })

      this.wow.forEach((el, i) => { console.log(el.title, el.order) })
      */
    },

    handleCreateContent() {
      modalController.init(`${this.id}_1`, { ...ModalNewCarouselItem, propsData: { id: this.id } })
    },

    handleEditContent(id) {
      modalController.init(id, { ...ModalEditCarouselItem, propsData: { id: id, id_component: this.id } })
    },

    handleRemoveContent(id) {
      netRemoveContent({ id: id }).then(() => { this._findContents() })
    },

    handleSubmit(configs) {
      Object.keys(configs).forEach((key, i) => {
        //updateConfig({ id: configs[key].id, data: configs[key] })
      })
    },
  },
}
</script>
<template>
  <modal ref="modal" @open="opened" @close="closed" data-component="modal" :data-id="id" :data-name="$options.name" data-layer="1">
    <div class="modal" :id="id">
      <div class="header">
        <div class="header-left">
          <div class="modal-title">
            <span class="name">{{ (component) ? component.name : '' }}</span>
            <p class="description">Clique e arraste para reordenar os itens</p>
          </div>
        </div>
        <div class="header-center"></div>
        <div class="header-right"></div>
      </div>
      <div class="content">
        <div class="items-list">
          <div class="list-header">
            <span class="attribute" data-attribute="nome">Nome</span>
            <span class="attribute" data-attribute="descricao">Descrição</span>
          </div>
          <div class="list-items">
            <div class="new-item" @click="handleCreateContent">
              <span class="icon" v-html="ic_add2_black"></span>
              <span class="text">Novo item</span>
            </div>
            <draggable v-model="content" :options="{ animation: 150, group: 'carousel' }" @end="handleOrderChange">
              <div class="item" v-for="item in content" :data-id="item.id">
                <span class="attribute" data-attribute="nome">{{item.title}}</span>
                <span class="attribute" data-attribute="descricao">{{item.description}}</span>
                <div class="actions">
                  <a class="action" href="javascript:void(0)" v-html="ic_pencil3_black" @click="handleEditContent(item.id)"></a>
                  <a class="action" href="javascript:void(0)" v-html="ic_trash5_black" @click="handleRemoveContent(item.id)"></a>
                </div>
              </div>
            </draggable>
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>
<style lang="scss">
.new-item > .icon > svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.item > .action > svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.item > .actions > .action > svg * {
  fill: rgba(0,0,0,0.6);
}

.item > .actions > .action:hover > svg * {
  fill: rgba(0,0,0,0.85);
}
</style>
<style lang="scss" scoped>
.rise,
.rise-hooks {
   .modal .content .form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .btn {
    margin-top: 20px;
  }

  .items-list {
    display: block;
    position: relative;
    width: 600px;
    height: auto;
    margin: 0 auto;
    background-color: transparent;
  }

  .items-list [data-attribute="nome"] {
    padding-right: 20px;
    width: calc(40% - 20px);
  }

  .items-list [data-attribute="descricao"] {
    padding-right: 20px;
    width: calc(50% - 20px);
  }

  .list-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 2px 5px;
    width: calc(100% - 10px);
    height: auto;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;

    .attribute {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 12px;
      font-weight: 500;
      text-align: left;
      text-transform: uppercase;
    }
  }

    .new-item {
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      padding: 0 5px;
      width: calc(100% - 10px);
      height: 45px;
      background-color: #fafafa;
      border-bottom: 1px solid #D0D0D0;

      .icon {
        display: block;
        position: relative;
        width: 12px;
        height: 12px;
        padding: 0 10px;
      }

      .text {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
    }

  .list-items {
    display: block;
    position: relative;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    max-height: 366px;

    .item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      padding-left: 5px;
      width: calc(100% - 10px);
      height: 45px;
      background-color: transparent;
      border-bottom: 1px solid #D0D0D0;

      [data-attribute] {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .item:nth-child(even) {
      background-color: #fafafa;
    }

    .attribute {
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
    }

    .actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: auto;
      height: auto;
    }

    .action {
      display: block;
      position: relative;
      padding: 5px;
      width: 12px;
      height: 12px;
      background-color: transparent;
      border-radius: 50px;
      line-height: 1px;
      transition: all 160ms ease;
    }

    .action:not(:nth-last-child(1)) {
      margin-right: 5px;
    }

    .action:hover {
      transform: scale(1.2);
    }
  }

    .action >>> svg {
      display: block;
      position: relative;
      width: auto;
      height: 10%;
    }













  table {
    width: 500px;
    font-family: 'Roboto', sans-serif;
  }

  table th {
    padding-right: 20px;
    font-size: 14px;
    text-align: left;
  }

  table td {
    font-size: 14px;
    text-align: left;
  }

  table td {
    font-size: 14px;
    text-align: left;
  }

  table tr {}

  table [data-row="move"] {
    display: block;
    position: relative;
    width: 15px;
    height: auto;
  }

  table [data-row="move"] svg {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }

  table [data-row="imagem"] img {
    display: block;
    position: relative;
    width: auto;
    height: 50px;
  }

  table td[data-row="imagem"] {}
  
  table td[data-row="titulo"] {}

  table td[data-row="descricao"] {}

  table td[data-row="titulo"] {
    display: block;
    position: relative;
    font-size: 14px;
  }
}
</style>
