<script>
import { findComponent } from '@/services/components'
import { netFindUsers, netUpdateUser, netRemoveUser, updateUserOrder } from '@/services/users'
import { mapState } from 'vuex'
import Modal from './Modal'
import ModalNewUser from './ModalNewUser'
import ModalEditUser from './ModalEditUser'

let Rise, modalController

export default {
  name: 'ModalUsers',

  components: {
    Modal,
  },

  props: {
    id: {
      type: String,
      required: true,
    },
  },

  data () {
    return {
      ic_add2_black: require('@/assets/resources/img/ic_add2_black.svg'),
      ic_add2_white: require('@/assets/resources/img/ic_add2_white.svg'),

      ic_pencil3_black: require('@/assets/resources/img/ic_pencil3_black.svg'),
      ic_pencil3_white: require('@/assets/resources/img/ic_pencil3_white.svg'),

      ic_trash5_black: require('@/assets/resources/img/ic_trash5_black.svg'),
      ic_trash5_white: require('@/assets/resources/img/ic_trash5_white.svg'),

      move: require('@/assets/resources/img/ic_move.svg'),
    }
  },
  
  computed: {
    users: {
      get() {
        return this.$store.state.users.list.data
      },
      set(value) {
        updateUserOrder({ data: value })
          .then(() => {
            this.$store.state.users.list.data.forEach((el, i) => {
              netUpdateUser({ id: el.id, params: el })
            })
          })
      }
    },
  },

  created() {},

  mounted() {
    Rise = this.$rise()
    modalController = Rise.modalController()
  },

  methods: {
    open() {
      this.$refs.modal.open()
    },

    close() {
      this.$refs.modal.close()
    },

    bounce() {
      this.$refs.modal.bounce()
    },

    opened() {
      this.fetch()
    },

    closed() {},

    fetch() {
      this._findUsers()
    },

    _findUsers() {
      return netFindUsers()
    },

    handleCreateUser() {
      modalController.init(`${this.id}_1`, { ...ModalNewUser, propsData: { id: this.id } })
    },

    handleEditUser(id) {
      modalController.init(id, { ...ModalEditUser, propsData: { id: id } })
    },

    handleRemoveUser(id) {
      netRemoveUser({ id: id }).then(() => { this._findUsers() })
    },

    handleSubmit(configs) {
      Object.keys(configs).forEach((key, i) => {
        //updateConfig({ id: configs[key].id, data: configs[key] })
      })
    },
  },
}
</script>
<template>
  <modal ref="modal" @open="opened" @close="closed" data-component="modal" :data-id="id" :data-name="$options.name" data-layer="2">
    <div class="modal" :id="id">
      <div class="header">
        <div class="header-left">
          <div class="modal-title">
            <span class="name">Usuários</span>
            <p class="description">Gerenciador de contas</p>
          </div>
        </div>
        <div class="header-center"></div>
        <div class="header-right"></div>
      </div>
      <div class="content">
        <div class="items-list">
          <div class="list-header">
            <span class="attribute" data-attribute="nome">Nome</span>
            <span class="attribute" data-attribute="sobrenome">Sobrenome</span>
            <span class="attribute" data-attribute="email">E-mail</span>
          </div>
          <div class="list-items">
            <div class="new-item" @click="handleCreateUser">
              <span class="icon" v-html="ic_add2_black"></span>
              <span class="text">Novo item</span>
            </div>
            <div class="item" v-for="item in users" :data-id="item.id">
              <span class="attribute" data-attribute="nome">{{item.first_name}}</span>
              <span class="attribute" data-attribute="sobrenome">{{item.last_name}}</span>
              <span class="attribute" data-attribute="email">{{item.email}}</span>
              <div class="actions">
                <a class="action" href="javascript:void(0)" v-html="ic_pencil3_black" @click="handleEditUser(item.id)"></a>
                <a class="action" href="javascript:void(0)" v-html="ic_trash5_black" @click="handleRemoveUser(item.id)"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>
<style lang="scss">
.new-item > .icon > svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.item > .action > svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.item > .actions > .action > svg * {
  fill: rgba(0,0,0,0.6);
}

.item > .actions > .action:hover > svg * {
  fill: rgba(0,0,0,0.85);
}
</style>
<style lang="scss" scoped>
.rise,
.rise-hooks {
   .modal .content .form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .btn {
    margin-top: 20px;
  }

  .items-list {
    display: block;
    position: relative;
    width: 600px;
    height: auto;
    margin: 0 auto;
    background-color: transparent;
  }

  .items-list [data-attribute="nome"] {
    padding-right: 20px;
    width: calc(25% - 20px);
  }

  .items-list [data-attribute="sobrenome"] {
    padding-right: 20px;
    width: calc(30% - 20px);
  }

  .items-list [data-attribute="email"] {
    padding-right: 20px;
    width: calc(35% - 20px);
  }

  .list-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 2px 5px;
    width: calc(100% - 10px);
    height: auto;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;

    .attribute {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 12px;
      font-weight: 500;
      text-align: left;
      text-transform: uppercase;
    }
  }

    .new-item {
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      padding: 0 5px;
      width: calc(100% - 10px);
      height: 45px;
      background-color: #fafafa;
      border-bottom: 1px solid #D0D0D0;

      .icon {
        display: block;
        position: relative;
        width: 12px;
        height: 12px;
        padding: 0 10px;
      }

      .text {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
    }

  .list-items {
    display: block;
    position: relative;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    max-height: 366px;

    .item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      padding-left: 5px;
      width: calc(100% - 10px);
      height: 45px;
      background-color: transparent;
      border-bottom: 1px solid #D0D0D0;

      [data-attribute] {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .item:nth-child(even) {
      background-color: #fafafa;
    }

    .attribute {
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
    }

    .actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: auto;
      height: auto;
    }

    .action {
      display: block;
      position: relative;
      padding: 5px;
      width: 12px;
      height: 12px;
      background-color: transparent;
      border-radius: 50px;
      line-height: 1px;
      transition: all 160ms ease;
    }

    .action:not(:nth-last-child(1)) {
      margin-right: 5px;
    }

    .action:hover {
      transform: scale(1.2);
    }
  }

    .action >>> svg {
      display: block;
      position: relative;
      width: auto;
      height: 10%;
    }













  table {
    width: 500px;
    font-family: 'Roboto', sans-serif;
  }

  table th {
    padding-right: 20px;
    font-size: 14px;
    text-align: left;
  }

  table td {
    font-size: 14px;
    text-align: left;
  }

  table td {
    font-size: 14px;
    text-align: left;
  }

  table tr {}

  table [data-row="move"] {
    display: block;
    position: relative;
    width: 15px;
    height: auto;
  }

  table [data-row="move"] svg {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }

  table [data-row="imagem"] img {
    display: block;
    position: relative;
    width: auto;
    height: 50px;
  }

  table td[data-row="imagem"] {}
  
  table td[data-row="titulo"] {}

  table td[data-row="descricao"] {}

  table td[data-row="titulo"] {
    display: block;
    position: relative;
    font-size: 14px;
  }
}
</style>
