<script>
import Vue from 'vue'
import { netFindUser } from '@/services/users'
import decode from 'jwt-decode'
import Modal from './Modal'
import ModalEditProfile from './ModalEditProfile'
import ModalUsers from './ModalUsers'
import { logout } from '@/services/auth'

let Rise, modalController

export default {
  name: 'ModalUser',

  components: {
    Modal
  },

  props: {
    id: {
      type: String,
      required: true,
    },
  },

  computed: {
    user() { return Object.assign({}, this.$store.state.users.current.data) }
  },

  data() {
    return {
      env: process.env,
    }
  },

  created() {},

  mounted() {
    Rise = this.$rise()
    modalController = Rise.modalController()
  },

  methods: {
    open() {
      this.$refs.modal.open()
    },

    close() {
      this.$refs.modal.close()
    },

    bounce() {
      this.$refs.modal.bounce()
    },

    opened() {
      let token = decode(localStorage.getItem('token'))
      netFindUser({ id: token.id })
    },

    closed() {},

    handleLogout() {
      logout()
        .then(() => {
          Vue.router.push({ name: 'index' })
          this.close()
        })
    },

    handleEditProfile() {
      modalController.init(`${this.id}_1`, { ...ModalEditProfile, propsData: { id: `${this.id}_1` } })
    },

    handleManageUsers() {
      modalController.init('modalUsers', { ...ModalUsers, propsData: { id: 'modalUsers', } })
    },

  },
}
</script>
<template>
  <modal ref="modal" @open="opened" @close="closed" data-component="modal" :data-id="id" :data-name="$options.name" data-layer="2">
    <div class="modal">
      <div class="content">
        <div class="left">
          <div class="user-picture">
            <img :src="this.env.SERVER_LOCATION + 'data/user_data/' + this.user.picture">
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <p class="user-name">{{ user.first_name }}</p>
            <p class="user-role">Administrador</p>
          </div>
          <div class="user-actions">
            <ul>
              <li><a href="javascript:void(0)" @click="handleLogout">Sair</a></li>
              <li><a href="javascript:void(0)" @click="handleEditProfile">Editar Perfil</a></li>
              <li><a href="javascript:void(0)" @click="handleManageUsers">Gerenciar Usuários</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>
<style lang="scss" scoped>
.rise,
.rise-hooks {
  .modal .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .modal .left,
  .modal .right {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
  }

  .modal .left {
    justify-content: flex-start;
  }

  .modal .right {
    justify-content: flex-end;
  }

  .user-picture {
    display: block;
    position: relative;
    width: 175px;
    height: auto;
  }

  .user-picture img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #000;
    border-radius: 200px;
  }

  .user-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-left: 35px;
  }

  .user-name {
    display: block;
    position: relative;
    padding: 0;
    max-width: 250px;
    margin: 0;
    margin-right: 25px;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 30px;
    text-align: left;
  }

  .user-role {
    display: block;
    position: relative;
    padding: 2px;
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
  }

  .user-actions {
    display: block;
    position: relative;
    margin-top: 90px;
    margin-left: 35px;
  }

  .user-actions ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .user-actions li {}

  .user-actions a {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    color: #25A8A3;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    text-decoration: none;
  }

  .user-actions a:hover {
    color: #6ADCD8;
  }

  .user-actions li:not(:nth-last-child(1)) a {
    margin-right: 14px;
  }

  .user-actions li:not(:nth-last-child(1)) a::after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    right: -7px;
    width: 1px;
    height: 15px;
    background-color: rgba(37, 168, 163, 0.25);
  }
}
</style>
