<script>
import { findConfigs, updateConfig } from '@/services/config'
import Modal from './Modal'

export default {
  name: 'ModalConfig',

  components: {
    Modal
  },

  data() {
    return {
      config: {
        site_url: { id: null, value: null },
        site_home: { id: null, value: null },
        site_name: { id: null, value: null },
        site_description: { id: null, value: null },
        theme: { id: null, value: null },
      },
    }
  },

  created() {},

  mounted() {},

  methods: {
    open() {
      this.$refs.modal.open()
    },

    close() {
      this.$refs.modal.close()
    },

    bounce() {
      this.$refs.modal.bounce()
    },

    opened() {
      findConfigs()
        .then((state) => {
          state.config.list.data.forEach((config, i) => {
            if (this.config[config.name] !== undefined) {
              this.config[config.name] = {
                id: config.id,
                value: config.value,
              }
            }
          })
        })
    },

    closed() {},

    resetForm() {
      let form = this.$refs.modal.$el.querySelector('form')
      form.reset()
    },

    handleSubmit(configs) {
      Object.keys(configs).forEach((key, i) => {
        updateConfig({ id: configs[key].id, data: configs[key] })
        .then(() => {
          this.resetForm()
          this.close()
        })
      })
    },
  },
}
</script>
<template>
  <modal ref="modal" @open="opened" @close="closed" data-component="modal" :data-name="$options.name">
    <div class="modal">
      <div class="header">
        <div class="header-left">
          <div class="modal-title">
            <span class="name">Configurações</span>
            <p class="description">Defina aqui as configurações básicas do site.</p>
          </div>
        </div>
        <div class="header-center"></div>
        <div class="header-right"></div>
      </div>
      <div class="content">
        <form @submit.prevent="handleSubmit(config)">
          <div class="form">
           <div class="inputs">
              <div class="input input-medium">
                <label>Nome do Site:</label>
                <input v-model="config.site_name.value" type="text">
              </div>
              <div class="input input-plus">
                <label>Descrição do Site:</label>
                <input v-model="config.site_description.value" type="text">
              </div>
              <div class="input input-plus">
                <label>Tema:</label>
                <input v-model="config.theme.value" type="text">
              </div>
              <div class="input input-plus">
                <label>URL do Site:</label>
                <input v-model="config.site_url.value" type="text">
              </div>
              <div class="input input-plus">
                <label>URL da página inicial:</label>
                <input v-model="config.site_home.value" type="text">
              </div>
            </div>
            <button class="btn btn-mid btn-alpha">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </modal>
</template>
<style lang="scss" scoped>
.rise,
.rise-hooks {
   .modal .content .form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .btn {
    margin-top: 20px;
  }
}
</style>
