<script>
import { confirmPassword } from '@/services/auth'
import { netFindUser, netUpdateUser } from '@/services/users'
import Modal from './Modal'

let Rise, modalController

export default {
  name: 'ModalChangePassword',

  components: {
    Modal,
  },

  props: {
    id: {
      type: String,
      required: true,
    },
  },

  computed: {
    user() { return Object.assign({}, this.$store.state.users.current.data) }
  },

  data() {
    return {
      env: process.env,
      password: '',
      newPassword: '',
      confirmedPassword: '',
    }
  },

  created() {},

  mounted() {
    Rise = this.$rise()
    modalController = Rise.modalController()
  },

  methods: {
    open() {
      this.$refs.modal.open()
    },

    close() {
      this.$refs.modal.close()
    },

    bounce() {
      this.$refs.modal.bounce()
    },

    opened() {},

    closed() {},

    resetForm() {
      let form = this.$refs.modal.$el.querySelector('form')
      form.reset()
    },

    handleSubmit() {
      if (this.password !== '' && this.newPassword !== '' && this.newPassword !== '') {
        if (this.newPassword !== this.confirmedPassword) {
          alert('As novas senhas não batem.')        
        } else {
          confirmPassword({ id: this.user.id, data: { password: this.password } })
          .then(() => {
            if (this.$store.state.auth.confirmed) {
              netUpdateUser({ id: this.user.id, params: { password: this.newPassword } })
                .then(() => {
                  this.resetForm()
                  this.close()
                })
                .catch((err) => {
                  console.log(err)
                })
            } else {
              alert('Senha atual incorreta.')
            }
          })
          .catch((err) => {
            console.log(err)
          })
        }
      } else {
        alert('Preencha todos os campos!')
      }
    },
  },
}
</script>
<template>
  <modal ref="modal" @open="opened" @close="closed" data-component="modal" :data-id="id" :data-name="$options.name" data-layer="3">
    <div class="modal" :id="id">
      <div class="header">
        <div class="header-left">
          <div class="modal-title">
            <span class="name">Mudar senha</span>
            <p class="description hidden"></p>
          </div>
        </div>
        <div class="header-center"></div>
        <div class="header-right"></div>
      </div>
      <div class="content">
        <form @submit.prevent="handleSubmit()">
          <div class="inputs">
            <div class="input">
              <label>Senha atual:</label>
              <input type="password" placeholder="" v-model="password">
            </div>
            <div class="input">
              <label>Nova senha:</label>
              <input type="password" placeholder="" v-model="newPassword">
            </div>
            <div class="input">
              <label>Confirmar senha:</label>
              <input type="password" placeholder="" v-model="confirmedPassword">
            </div>
          </div>
          <button type="submit" class="btn btn-beta">Salvar</button>
        </form>
      </div>
    </div>
  </modal>
</template>
<style lang="scss">
.new-item > .icon > svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.item > .action > svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.item > .actions > .action > svg * {
  fill: rgba(0,0,0,0.6);
}

.item > .actions > .action:hover > svg * {
  fill: rgba(0,0,0,0.85);
}
</style>
<style lang="scss" scoped>
.rise,
.rise-hooks {
  .content {
    width: calc(100% - 30px);
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
  }

  .inputs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .input input,
  .input textarea {
    width: 100%;
    line-height: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
  }

  .btn {
    margin-top: 10px;
  }
}
</style>
