<script>
import { netFindUser, netFindUsers, netUpdateUser } from '@/services/users'
import Modal from './Modal'
import ModalChangeUserPassword from './ModalChangeUserPassword'

let Rise, modalController

export default {
  name: 'ModalEditProfile',

  components: {
    Modal,
  },

  props: {
    id: {
      type: String,
      required: true,
    },
  },

  computed: {
    user() { return Object.assign({}, this.$store.state.users.current.data) }
  },

  data() {
    return {
      password: '',
      env: process.env,
      picture_placeholder: require('@/assets/resources/img/picture_placeholder.png'),
      move: require('@/assets/resources/img/ic_move.svg'),
    }
  },

  created() {},

  mounted() {
    Rise = this.$rise()
    modalController = Rise.modalController()
  },

  methods: {
    open() {
      this.$refs.modal.open()
    },

    close() {
      this.$refs.modal.close()
    },

    bounce() {
      this.$refs.modal.bounce()
    },

    opened() {
      this.fetch()
    },

    closed() {},

    fetch() {
      this._findUser().then((state) => {
        let picturePreview = this.$refs.modal.$el.querySelector('.picture-preview')
        picturePreview.style.backgroundImage = `url(${this.env.SERVER_LOCATION}data/user_data/${this.user.picture})`
      })
    },

    _findUser() {
      return netFindUser({ id: this.id })
    },

    _findUsers() {
      return netFindUsers()
    },

    resetForm() {
      let form = this.$refs.modal.$el.querySelector('form')
      let picturePreview = this.$refs.modal.$el.querySelector('.picture-preview')
      picturePreview.style.backgroundImage = `url(${this.picture_placeholder})`
      form.reset()
    },

    handlePictureChange(event) {
      let picturePreview = event.target.parentNode.querySelector('.picture-preview')
      let file = event.target.files[0]
      let type = /^image\//

      if (file.type) {
        if (type.test(file.type)) {
          this.user.picture = file

          let fileReader = new FileReader()
          fileReader.onload = () => {
            picturePreview.style.backgroundImage = `url("${fileReader.result}")`
          }
          fileReader.readAsDataURL(file)
        }
      }
    },

    handleChangePassword(event) {
      modalController.init(`${this.id}_2`, { ...ModalChangeUserPassword, propsData: { id: this.id } })
    },

    handleSubmit(user) {
      let formData = new FormData()

      formData.append('first_name', user.first_name)
      formData.append('last_name', user.last_name)
      formData.append('email', user.email)
      formData.append('picture', user.picture)
      
      netUpdateUser({ id: this.id, params: formData }).then(() => {
        this._findUser()
        this._findUsers()
        this.resetForm()
        this.close()
      })
      .catch((err) => {
        console.log(err)
      })
      
    },
  },
}
</script>
<template>
  <modal ref="modal" @open="opened" @close="closed" data-component="modal" :data-id="id" :data-name="$options.name" data-layer="3">
    <div class="modal" :id="id">
      <div class="header">
        <div class="header-left">
          <div class="modal-title">
            <span class="name">Editar usuário</span>
            <p class="description hidden"></p>
          </div>
        </div>
        <div class="header-center"></div>
        <div class="header-right"></div>
      </div>
      <div class="content">
        <form @submit.prevent="handleSubmit(user)">
          <div class="inputs">
            <div class="left">
              <div class="input input-picture">
                <label>Imagem:</label>
                <div class="picture-preview"></div>
                <input type="file" accept="image/*" aria-label="Imagens" @change="handlePictureChange">
              </div>
            </div>
            <div class="right">
              <div class="input">
                <label>Nome:</label>
                <input type="text" v-model="user.first_name">
              </div>
              <div class="input">
                <label>Sobrenome:</label>
                <input type="text" v-model="user.last_name">
              </div>
              <div class="input">
                <label>E-mail:</label>
                <input type="email" v-model="user.email">
              </div>
              <div class="input">
                <label>Senha:</label>
                <input type="password" placeholder="●●●●●●●" @click="handleChangePassword">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-beta">Salvar</button>
        </form>
      </div>
    </div>
  </modal>
</template>
<style lang="scss">
.new-item > .icon > svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.item > .action > svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.item > .actions > .action > svg * {
  fill: rgba(0,0,0,0.6);
}

.item > .actions > .action:hover > svg * {
  fill: rgba(0,0,0,0.85);
}
</style>
<style lang="scss" scoped>
.rise,
.rise-hooks {
   form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .inputs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    .left {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 0 10px;
    }
    .right {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  [data-attribute="title"] {
    height: 34px;
  }

  [data-attribute="description"] {
    height: 55px;
  }

  .input input,
  .input textarea {
    width: 240px;
    line-height: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
  }

  .input-picture input {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  }

  .input-picture .picture-preview {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px 0;
    border-radius: 200px;
    border: 1px solid #000;
    background-image: url('../assets/resources/img/picture_placeholder.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .btn {
    margin-top: 10px;
    margin-right: 10px;
  }
}
</style>
