<script>
import Vue from 'vue'
import { SweetModal, SweetModalTab } from 'sweet-modal-vue'

export default Vue.extend({
  name: 'Modal',

  mixins: [SweetModal],

  created() {},

  methods: {
    open() {
      this.is_open = true
      this._animateIcon()
      this.addScrollProtection()
      this.fixPosition()

      setTimeout(() => this.visible = true, 30)
      this.$emit('open')
    },

    /**
     * Close the dialog
     * Emits an event 'close'
     */
    close() {
      this.visible = false
      this.removeScrollProtection()

      setTimeout(() => this.is_open = false, 300)
      this.$emit('close')
    },

    addScrollProtection() {
      document.body.classList.add('modal-active')
    },

    removeScrollProtection() {
      const visibleModals = document.querySelectorAll('.rise-hooks > .rise-modals > .is-visible')
      if (visibleModals.length === 1) document.body.classList.remove('modal-active')
    },

    fixPosition() {
      this.$el.style.top = `${document.documentElement.scrollTop}px`
    },
  }
})
</script>
<style lang="scss">
.sweet-modal-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 991;

  .sweet-modal {
    width: auto;
    overflow-y: visible;
    z-index: 992;

    .sweet-box-actions {
      top: 12px;
      right: 12px;
      z-index: 992;
      /*transform: rotateZ(-2deg);*/
    }

    .sweet-box-actions .sweet-action-close {
      padding: 5px 3px 3px 3px;
      width: auto;
      height: auto;
      line-height: initial;
      background-color: #fff;
      border-radius: 0;
      /*border: 1px solid #000;*/
    }

    .sweet-box-actions .sweet-action-close:hover {
      background: none;
    }

    .sweet-box-actions .sweet-action-close svg {
      padding: 0;
    }

    .sweet-box-actions .sweet-action-close svg * {
      transition: all 160ms ease;
    }

    .sweet-box-actions .sweet-action-close:hover svg * {
        fill: #000;
        stroke-width: 2;
        stroke: #000;
    }
  }

  .sweet-modal.has-content .sweet-content::before {
    content: '';
    display: block;
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 100%;
    height: 98%;
    background-color: #fff;
    border: 1px solid #000;
    z-index: -1;
  }

  .sweet-modal.has-content .sweet-content {
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 0;
    z-index: 1;
  }
}

[data-layer="1"].sweet-modal-overlay {
  z-index: calc(991 + 1);

  .sweet-modal {
    z-index: calc(992 + 1);
  }
}

[data-layer="2"].sweet-modal-overlay {
  z-index: calc(991 + 2);

  .sweet-modal {
    z-index: calc(992 + 2);
  }
}

[data-layer="3"].sweet-modal-overlay {
  z-index: calc(991 + 3);

  .sweet-modal {
    z-index: calc(992 + 3);
  }
}

.rise,
.rise-hooks {
  .modal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: auto;
    height: auto;

    .header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      height: auto;
    }

    .header ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    .header-left,
    .header-center,
    .header-right {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      position: relative;
      height: auto;
    }

    .header-left,
    .header-right {
      z-index: 1;
    }

    .header-left {
      margin-left: 15px;
    }

    .header-center {
      position: absolute;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    .header-right {
      margin-right: 15px;
    }

    .modal-title {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      padding-right: 50px;
      transform: translateX(-25px) translateY(-25px) rotateZ(-2deg);
    }

    .modal-title .name::before {
      content: '';
      display: block;
      position: absolute;
      right: -5px;
      bottom: -5px;
      width: 100%;
      height: 98%;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 1);
      z-index: -1;
    }

    .modal-title .name {
      display: block;
      position: relative;
      padding: 5px 12px;
      width: auto;
      height: auto;
      background-color: #000;
      color: #fff;
      font-family: 'Cooper Hewitt', sans-serif;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .modal-title .description {
      display: block;
      position: relative;
      padding: 0 5px;
      margin: 15px 0 0 18px;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: left;
    }

    .modal-actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
    }

    .modal-actions .btn {
      padding: 5px 8px;
      margin: 0;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 13px;
      font-weight: 400;
      background-color: #fff;
      border: 1px solid #000;
    }

    .modal-actions .btn:hover {
      background-color: #000;
      color: #fff;
    }

    .content {
      display: block;
      position: relative;
      padding: 0 15px 10px 15px;
    }
  }
}
</style>
