<script>
import ModalConfig from './ModalConfig.vue'
import ModalUser from './ModalUser.vue'
import ModalController from '@/libs/ModalController'

let Rise, modalController

export default {
  name: 'navbar',

  components: {
    ModalConfig,
    ModalUser,
  },

  data () {
    return {
      logo: require('../assets/resources/img/RISE_LOGO_WHITE.svg'),
      pencil: require('../assets/resources/img/pencil.svg'),
      settings: require('../assets/resources/img/settings.svg'),
      user: require('../assets/resources/img/user.svg')
    }
  },

  created() {},

  mounted() {
    Rise = this.$rise()
    modalController = Rise.modalController()
  },

  methods: {
    handleModalConfig (e) {
      modalController.init('modalConfig', { ...ModalConfig, propsData: { id: 'modalConfig' } })
    },

    handleModalUser (e) {
      modalController.init('modalUser', { ...ModalUser, propsData: { id: 'modalUser' } })
    }
  },
}
</script>
<template>
  <nav class="nav">
    <div class="nav-left">
      <div class="nav-logo" v-html="logo"></div>
    </div>
    <div class="nav-center">
      <span class="nav-title">Painel de Controle</span>
    </div>
    <div class="nav-right">
      <ul>
        <!--<li><a class="menu-item" href="javascript:void(0)" v-html="pencil"></a></li>-->
        <li><a class="menu-item" href="javascript:void(0)" v-html="settings" v-on:click="handleModalConfig"></a></li>
        <li><a class="menu-item" href="javascript:void(0)" v-html="user" v-on:click="handleModalUser"></a></li>
      </ul>
      <!--<div class="nav-user">
        <div class="user-info">
          <span class="user-name">Carlos Eduardo</span>
        </div>
        <img class="user-picture" src="../assets/resources/img/eu.jpg">
      </div>
      -->
    </div>
  </nav>
</template>
<style scoped>
.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 25px 0;
  width: 100%;
  height: auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nav-left {
  margin-left: 50px;
}

.nav-center {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-right {
  margin-right: 50px;
}

.nav-logo {
  display: block;
  position: relative;
  width: 175px;
  height: auto;
}

.nav-logo svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.nav-logo svg * {
  fill: #fff;
}

.nav-title {
  position: relative;
  padding: 10px 20px;
  background-color: #transparent;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 28px;
  font-family: 'Cooper Hewitt', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-title::after {
  content: '';
  display: none;
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 100%;
  height: 98%;
  border: 1px solid #fff;
}

.nav-user {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.nav-user .user-picture {
  display: block;
  position: relative;
  width: 100px;
  height: auto;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.nav-user .user-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-right: 15px;
}

.nav-user .user-name {
  color: #fff;
  font-size: 28px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
}

.menu-item {
  display: block;
  position: relative;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  transition: all 180ms ease-in;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item img {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
  border-radius: 50px;
  border: 2px solid #fff;
}

.menu-item svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

</style>
