<script>
import Vue from 'vue'
import Modal from './Modal'
import ModalSlider from './ModalSlider'
import ModalCarousel from './ModalCarousel'
import ModalController from '@/libs/ModalController'

let Rise, modalController

export default {
  name: 'SectionOverlay',

  components: {},

  data () {
    return {
      pencil: require('../assets/resources/img/pencil.svg'),
    }
  },

  created: function () {
  },

  mounted: function () {
    Rise = this.$rise()
    modalController = Rise.modalController()

    this.animateSection()
    this.animateSectionOverlay()
    this.setIconAttributes()
  },

  methods: {
    animateSection() {
      const editable = document.querySelectorAll('[data-editable="true"]')

      ;[].forEach.call(editable, (el, i) => {
        el.addEventListener('mouseover', (e) => { this.handleSectionMouseOver(e, el) })
        el.addEventListener('mouseleave', (e) => { this.handleSectionMouseLeave(e, el) })
      })

      return this
    },

    handleSectionMouseOver(event, el) {
      TweenMax.to(el, 0.6, {
        z: '16px',
        ease: Power4.easeOut,
      })
    },

    handleSectionMouseLeave(event, el) {
      TweenMax.to(el, 0.6, {
        z: '0',
        y: '0',
        ease: Power4.easeOut,
      })
    },

    animateSectionOverlay() {
      this.$el.addEventListener('click', (e) => { this.handleSectionOverlayClick(e, this.$el) })
      this.$el.addEventListener('mouseover', (e) => { this.handleSectionOverlayMouseOver(e, this.$el) })
      this.$el.addEventListener('mouseleave', (e) => { this.handleSectionOverlayMouseLeave(e, this.$el) })

      return this
    },

    handleSectionOverlayClick(event, el) {
      let parent = el.parentNode
      let id = parent.dataset.id
      let component = parent.dataset.component
      
      TweenMax.set(el.parentNode, {
        z: '0',
        y: '0',
        ease: Power4.easeOut,
      })
      TweenMax.to(el, 0.160, {
        opacity: '0',
        backgroundColor: 'transparent',
        ease: Power4.easeOut,
      })

      switch (component) {
        case 'menu':
          break
        case 'slider':
          modalController.init(id, { ...ModalSlider, propsData: { id: id } })
          break
        case 'carousel':
          modalController.init(id, { ...ModalCarousel, propsData: { id: id } })
          break
        case 'text':
          break
        case 'form':
          break
      }
    },

    handleSectionOverlayMouseOver(event, el) {
      TweenMax.to(el, 0.160, {
        opacity: '1',
        backgroundColor: 'rgba(106, 220, 216, 0.85)',
        ease: Power4.easeOut,
      })
    },

    handleSectionOverlayMouseLeave(event, el) {
      TweenMax.to(el, 0.160, {
        opacity: '0',
        backgroundColor: 'transparent',
        ease: Power4.easeOut,
      })
    },

    setIconAttributes() {
      const overlay = this.$refs.overlay
      const icon = this.$refs.icon

      const overlayHeight = overlay.offsetHeight

      if (overlayHeight < 235) {
        icon.style.padding = `${(overlayHeight * 20) / 100}px`
        icon.style.width = `${(overlayHeight * 29) / 100}px`
        icon.style.height = `${(overlayHeight * 29) / 100}px`
      }
    },
  },
}
</script>
<template>
  <div class="section-overlay" ref="overlay">
    <div class="overlay-lines">
      <span class="line top"></span>
      <span class="line right"></span>
      <span class="line bottom"></span>
      <span class="line left"></span>
    </div>
    <div class="overlay-content">
      <div class="overlay-icon-container">
        <div class="icon" ref="icon" v-html="pencil"></div>
        <span class="text">Editar</span>
      </div>
    </div>
    <div class="overlay-modals" ref="modals"></div>
  </div>
</template>
<style scoped>
  .section-overlay {
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 990;
  }

  .overlay-lines {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay-lines .line {
    display: none;
    background-color: #6ADCD8;
  }

  .overlay-lines .line.top,
  .overlay-lines .line.bottom {
    position: absolute;
    left: 2.5%;
    width: 95%;
    height: 2px;
  }

  .overlay-lines .line.top {
    top: 5%;
  }

  .overlay-lines .line.bottom {
    bottom: 5%;
  }

  .overlay-lines .line.left,
  .overlay-lines .line.right {
    position: absolute;
    top: 5%;
    width: 2px;
    height: 90%;
  }

  .overlay-lines .line.left {
    left: 2.5%;
  }

  .overlay-lines .line.right {
    right: 2.5%;
  }

  .overlay-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay-icon-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .overlay-icon-container .icon {
    display: block;
    position: relative;
    padding: 50px;
    width: 85px;
    height: 85px;
    border-radius: 200px;
    background-color: rgba(255, 255, 255, 0.35);
  }

  .overlay-icon-container .text {
    display: none;
    margin-top: 15px;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
  }
</style>
<style>
  .overlay-icon-container .icon svg {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }

  .overlay-icon-container svg * {
    fill: rgba(255, 255, 255, 0.75);
  }
</style>
