/*
* Buttons
*
*/

.rise,
.rise-hooks {
  .btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 160ms ease-in;
    -webkit-transition: all 160ms ease-in;
  }

  /**
   * Sizes
   * 
   */

  .btn.btn-small {
    padding: 5px 10px 5px 10px;
  }

  .btn.btn-mid {
    padding: 6px 8px;
  }

  .btn.btn-medium {
    padding: 10px 18px 10px 18px;
  }

  .btn.btn-wide {
    padding: 10px 25px 10px 25px;
  }



  .btn.btn-alpha {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.75);
    color: rgba(0,0,0,1);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .btn-alpha:focus,
  .btn-alpha:hover {
    background-color: #000;
    color: #fff;
  }

  .btn-beta {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 4px 7px 3px 5px;
      margin: 0;
      background-color: transparent;
      color: #000;
      border-radius: 0;
      border: 1px solid rgba(0,0,0,0.75);
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 13px;
      font-weight: 400;
      outline: none;
  }

  .btn-beta:focus,
  .btn-beta:hover {
    background-color: #000;
    color: #fff;
  }
}