/**
 * Inputs
 * 
 */

.rise,
.rise-hooks {
	.inputs {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		position: relative;

		.input:not(:nth-last-child(1)) {
			margin-bottom: 12px;
		}
	}

	.input {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		position: relative;

		label {
			padding-bottom: 2px;
			color: #464646;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 13px;
			font-weight: 300;
			text-transform: uppercase;
		}

		input:not([type=radio]) {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 16px;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.25);
			background-color: transparent;
		}

		input:focus {
			outline: none;
			border-bottom-width: 2px;
			border-bottom-color: rgba(0, 0, 0, 0.9);
		}

		textarea {
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		}

		textarea:focus {
			outline: none;
			border-bottom-width: 2px;
		}

		select {
			font-family: 'Source Sans Pro', sans-serif;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid #464646;
			background-color: transparent;
		}

		select:focus {
			outline: none;
			border-bottom-width: 2px;
		}

		.input-preview {
			min-height: 22px;
			margin: 0 0 8px 8px;
			font-family: 'Source Sans Pro', sans-serif;
		}
	}

	.input.input-small {
		input,
		textarea,
		select,
		.input-preview {
			width: 125px;
		}
	}

	.input.input-midmid {
		input,
		textarea,
		select,
		.input-preview {
			width: 175px;
		}
	}

	.input.input-medium {
		input,
		textarea,
		select,
		.input-preview {
			width: 200px;
		}
	}

	.input.input-big {
		input,
		textarea,
		select,
		.input-preview {
			width: 300px;
		}
	}

	.input.input-plus {
		input,
		textarea,
		select,
		.input-preview {
			width: 400px;
		}
	}

	.input.input-monster {
		input,
		textarea,
		select,
		.input-preview {
			width: 500px;
		}
	}

	.input-radio {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		position: relative;
	}

	.input-radio-title {
		margin: 0 5px;
	}

	.multi-input {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: flex-start;

		.input {
			margin: 0 20px 20px 0;
		}
	}

	.input-title {
		font-size: 16px;
		font-weight: 500;
	}

	.input-description {
		margin: 5px 0;
		font-size: 14px;
		font-family: 'Source Sans Pro', sans-serif;
	}
}