@import 'mixins';

@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Thin',          	  100, normal, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-ThinItalic', 	      100, italic, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Light',               300, normal, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-LightItalic',         300, italic, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Book',                400, normal, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-BookItalic',          400, italic, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Medium',           	  500, normal, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-MediumItalic',   	  500, italic, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Semibold',            600, normal, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-SemiboldItalic',      600, italic, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Bold',                700, normal, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-BoldItalic',          700, italic, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Heavy',               900, normal, otf);
@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-HeavyItalic',         900, italic, otf);

body.rise-override {
  background-color: #000;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  perspective: 1000px;
}

.rise-override * {
  background-attachment: initial !important;
}

.rise-override .site.login {
	display: none;
}

.rise-override .site {
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  transform: scale(0.75) translateY(-250px);
  transform-style: preserve-3d;
}

/*
.rise-override .site header::after,
.rise-override .site section::after,
.rise-override .site footer::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
}
*/

.modal-active {
	overflow: hidden;
}