<script>
import Vue from 'vue'
import { logout } from '@/services/auth'

export default {
  created() {
    logout()
      .then(() => {
        Vue.router.push({
          name: 'index'
        })
      })
  },
}
</script>
<template></template>