<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import Vue from 'vue'
  import { login } from '@/services/auth'

  export default {
    components: {},

    data() {
      return {
        logo: require('@/assets/resources/img/RISE_LOGO_WHITE.svg'),
        arrowHeadRight: require('@/assets/resources/img/arrow_head_right.svg'),

        user: {
          email: null,
          password: null,
        },
      }
    },

    mounted() {
      this.hideSite()
    },

    methods: {
      hideSite() {
        let site = document.querySelector('.site')
        site.classList.add('hidden')
      },

      handleSubmit(user) {
        login({ data: user })
          .then(() => {
            if (this.$store.state.auth.authenticated) {
              Vue.router.push({
                name: 'dashboard.index',
              })
            }
          })
          .catch(() => {
            if (this.$store.state.auth.error.error !== null) {
              switch (this.$store.state.auth.error.error) {
                case '1001':
                  alert('Senha incorreta.')
                  break
                case '1002':
                  alert('E-mail não encontrado.')
                  break
              }
            }
          })
      },
    },
  }
</script>
<template>
  <div class="login">
    <div class="logo" v-html="logo"></div>
    <form @submit.prevent="handleSubmit(user)">
      <div class="form">
        <div class="inputs">
          <div class="input">
            <label>E-mail</label>
            <input v-model="user.email" type="email" name="email" placeholder="exemplo@email.com">
          </div>
          <div class="input">
            <label>Senha</label>
            <input v-model="user.password" type="password" name="password" placeholder="●●●●●●●">
          </div>
        </div>
        <div class="action">
          <a href="" class="forgot hidden">Esqueci minha senha</a>
          <button class="btn btn-alpha" type="submit">Entrar<span v-html="arrowHeadRight"></span></button>
        </div>
      </div>
    </form>
  </div>
</template>
<style lang="scss" scoped>
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus
  input:-webkit-autofill, 
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    background-color: transparent;
    box-shadow: 0 0 0 30px #000 inset;
  }

  .rise {
    .login {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100vh;
      background-color: #000;

      .logo {
        display: block;
        position: relative;
        width: 200px;
        height: auto;

        svg {
          display: block;
          position: relative;
          width: 100%;
          height: auto;
        }
      }

      .form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 50px;
      }

      .inputs {
        margin-top: 25px;

        .input {
          label {
            color: rgba(255,255,255,0.65);
          }

          input {
            width: 250px;
            border-bottom-color: rgba(255,255,255,0.25);
            color: #fff;
          }

          input:focus {
            border-bottom-color: rgba(255,255,255,1);
          }
        }
      }

      .action {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 25px;
      }

      .forgot {
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 13px;
        font-weight: 300;
        text-decoration: none;
        outline: none;
      }

      .forgot:hover,
      .forgot:focus {
        text-decoration: underline;
      }

      .btn.btn-alpha {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 4px 7px 3px 5px;
        background-color: transparent;
        border-color: #fff;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 13px;
        font-weight: 400;
        outline: none;

        svg {
          display: block;
          position: relative;
          width: auto;
          height: 9px;
          margin-top: 2px;
          margin-left: 6px;
        }

        svg * {
          stroke: #fff;
          stroke-width: 35px;
        }
      }

      .btn.btn-alpha:hover,
      .btn.btn-alpha:focus {
        background-color: #fff;
        color: #000;

        svg * {
          stroke: #000;
        }
      }
    }
  }
</style>
<style lang="scss">
  .login {
    .logo {
      svg {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
      }
    }

    .btn.btn-alpha {
      svg {
        display: block;
        position: relative;
        width: auto;
        height: 9px;
        margin-top: 2px;
        margin-left: 6px;
      }

      svg * {
        stroke: #fff;
        stroke-width: 35px;
      }
    }

    .btn.btn-alpha:hover,
    .btn.btn-alpha:focus {
      svg * {
        stroke: #000;
      }
    }
  }
</style>
