{{#extend "page"}}
  {{#content "css" mode="append"}}{{/content}}
  {{#content "js" mode="append"}}{{/content}}

  {{#content "body" mode="append"}}
    <!-- Google Tag Manager (noscript) -->
    <xsl:call-template name="gtm-noscript"/>
    <!-- MediaMath -->
    <xsl:call-template name="mediamath"/>

    <!-- Header -->
    <xsl:call-template name="header"/>

    <!-- Import all components from Column 3 -->
    <xsl:call-template name="func:importComponentsFromColumn">
      <xsl:with-param name="number" select="'3'"/>
    </xsl:call-template>

      <!-- Loading Indicator -->
      <div class="loading load8">
          <div class="loader">Carregando...</div>
      </div>

    <!-- Footer -->
    <xsl:call-template name="footer"/>
  {{/content}}

  {{#content "scripts" mode="append"}}{{/content}}
{{/extend}}