{{#extend "page"}}
  {{#content "includes" mode="append"}}
    <xsl:include href="../functions.xsl"/>
    <xsl:include href="../partials/meta.xsl"/>
    <xsl:include href="../partials/gtm.xsl"/>
    <xsl:include href="../partials/gtm-noscript.xsl"/>
    <xsl:include href="../partials/navegg.xsl"/>
    <xsl:include href="../partials/mediamath.xsl"/>
    <xsl:include href="../partials/header.xsl"/>
    <xsl:include href="../partials/footer.xsl"/>
  {{/content}}

  {{#content "css" mode="append"}}
    <!-- Application CSS -->
    <link rel="stylesheet" type="text/css" href="{site/url}resources/css/anim.css"/>
    <link rel="stylesheet" type="text/css" href="{site/url}resources/css/buttons.css"/>
    <link rel="stylesheet" type="text/css" href="{site/url}resources/css/inputs.css"/>
    <link rel="stylesheet" type="text/css" href="{site/url}resources/css/main.css"/>
  {{/content}}
  {{#content "js" mode="append"}}{{/content}}

  {{#content "body" mode="append"}}
    <!-- Header -->
    <xsl:call-template name="header"/>

    <!-- Import all components from Column 3 -->
    <xsl:call-template name="func:importComponentsFromColumn">
      <xsl:with-param name="number" select="'3'"/>
    </xsl:call-template>

      <!-- Loading Indicator -->
      <div class="loading load8">
          <div class="loader">Carregando...</div>
      </div>

    <!-- Footer -->
    <xsl:call-template name="footer"/>
  {{/content}}

  {{#content "scripts" mode="append"}}{{/content}}
{{/extend}}