<html lang="pt-BR">
	{{#extend "head"}}
		{{#content "css" mode="append"}}{{/content}}
		{{#content "js" mode="append"}}{{/content}}
	{{/extend}}
	<body>
		{{#content "body" mode="append"}}{{/content}}

		{{#extend "scripts"}}
			{{#content "scripts" mode="append"}}{{/content}}
		{{/extend}}
	</body>
</html>
