<?xml version="1.0" encoding="ISO-8859-1"?>
<xsl:stylesheet version="2.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns="http://www.w3.org/1999/xhtml" xmlns:func="http://www.fiepr.org.br">
	<xsl:output method="xhtml" indent="yes" encoding="ISO-8859-1"/>

	<!-- Includes -->
	{{#block "includes"}}{{/block}}

	<!-- Template -->
	<xsl:template match="webp">
		<xsl:text disable-output-escaping="yes"><![CDATA[<!DOCTYPE html>]]></xsl:text>
		<html>
			{{#extend "head"}}
				{{#content "css" mode="append"}}{{/content}}
				{{#content "js" mode="append"}}{{/content}}
			{{/extend}}
			<body>
			    <!-- Google Tag Manager (noscript) -->
			    <xsl:call-template name="gtm-noscript"/>
			    <!-- MediaMath -->
			    <xsl:call-template name="mediamath"/>
    
				{{#block "body"}}{{/block}}

				{{#extend "scripts"}}
					{{#content "scripts" mode="append"}}{{/content}}
				{{/extend}}
			</body>
		</html>
	</xsl:template>
</xsl:stylesheet>
